<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLSV.Properties.Settings.QLSVConnectionString" connectionString="Data Source=LAPTOP-J4VFA095;Initial Catalog=QLSV;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="QLSinhVienDBContext" connectionString="data source=LAPTOP-J4VFA095;initial catalog=QLSV;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>